<menu>
    <menuitem label='Sobre - direto nível 1'>
        <icon>fa:cube fa-fw</icon>
        <action>SystemAboutView</action>
    </menuitem>
    <menuitem label='Info'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Sobre - direto nível 2'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemAboutView</action>
            </menuitem>
            <menuitem label='Ajuda'>
                <icon>fa:cube fa-fw</icon>
                <action>AjudaView</action>
            </menuitem>
            <menuitem label='ModulesCheck'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            <menuitem label='PHPInfoView'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
